__pycache__/
.ipynb_checkpoints
.toload_astrowidgets
mastDownload/
jwst_nb_viz/example/spectrum.fits
jupyter_platform/jclj01tvq_flc.fits
jupyter_platform/ngc6946.fits
jupyter_platform/l1448_13co.fits
jupyter_platform/manga-7495-12704-LOGCUBE.fits.gz
