/*div.documentwrapper{
    background-color: #00617E;
}

div.body{
    background-color: unset;
}

div.document{
    margin-top: 40px;
}
*/


body{
margin: 0px;    
font-family: 'Overpass', sans-serif;
background-color: #F4F4F4;

}


h3{
    color: #00617E;
    font-size: 28px;
    margin-bottom: -10px;
    margin-top: 30px;
}


.header{
    background: linear-gradient(#0D4960,#00617E);
    font-family: 'Overpass', sans-serif;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.logo{
    padding-bottom: 20px;
    padding-top: 25px;
    width: 550px;
    margin-left: 0px;

}

.search{
    max-width: 800px;
    position: relative
}

.searchbox{
    border-color: white;
    border-style: solid;
    height: 45px;
    display: inline-block;
    width:calc(100% - 150px); 
    margin-bottom: 50px;
}

.searchbutton{
    background-color: #C75109;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    max-width: 150px;
    text-align: center;
    float: right;
    display: inline-block;
}

.notebooks{
    padding-left: 30px;
}

/*right now I have all links set to this style. This should probably be in a class that only applies this to links to notebooks*/

a{
    color: #C75109;
    font-size: 20px;
}

