Bottleneck
Cython
PyYAML
aplpy 
asdf
astrocut
astrodendro
astropy
astroquery
corner 
dill
dust-extinction
emcee
glue-astronomy
glue-core
glue-jupyter
glue-vispy-viewers
gwcs
h5py
healpy
ipyvue
ipyvuetify
ipywidgets
joblib
juliet 
jupyter
jwst
lmfit
matplotlib
mplcursors
munch
notebook
numpy
oifits
pandas
photutils
poppy
pysiaf
pyregion
pysynphot
pyyaml
scikit-image
scikit-learn
scipy
seaborn 
shapely
spectral-cube 
specutils
termcolor
uncertainties
regions
radio-beam
jdaviz
jwst
jwst_gtvt
mirage
webbpsf @ git+https://github.com/spacetelescope/webbpsf@bb8706e6ebf3f8dc842bd37830449182854c0b11
stsynphot
