jsonschema<4.10.0,>=4.0.1
nbclient<0.6,>=0.4.0
nbconvert<7,>=6.4.5
jinja2==3.0.3
Bottleneck
Cython
PyYAML
aplpy
asdf
astrocut
astrodendro
astropy
astroquery
corner
dill
dust-extinction
emcee
glue-astronomy
glue-core
glue-jupyter
glue-vispy-viewers
gwcs
h5py
healpy
ipyvue
ipyvuetify
ipywidgets
joblib
#juliet
jupyter
jwst
lmfit
matplotlib
mplcursors
multiprocess
munch
notebook
numpy
oifits
pandas
photutils
poppy
pysiaf
pyregion
pysynphot
pyyaml
scikit-image
scikit-learn
scipy
seaborn
shapely
spectral-cube
specutils
specreduce
termcolor
uncertainties
regions
radio-beam
jdaviz
jwst
stcal
stpipe
stdatamodels
jwst_gtvt
mirage
webbpsf
stsynphot
git+https://github.com/kammerje/fouriever
