numpy==1.17.4
astropy==4.0
matplotlib==3.1.2
mirage==1.3.3
PyYAML==5.3.1
healpy==1.12.5
git+https://github.com/npirzkal/GRISMCONF#egg=grismconf
git+https://github.com/npirzkal/NIRCAM_Gsim#egg=nircam_gsim
git+https://github.com/spacetelescope/jwst#0.16.2
