matplotlib==3.3.2
healpy==1.12.5
asdf==2.7.1
git+https://github.com/spacetelescope/jwst_gtvt.git
git+https://github.com/spacetelescope/mirage.git@969cc64f883f43011f8bd772482d0df06895201e
jwst
pysiaf==0.9.0
git+https://github.com/anand0xff/ImPlaneIA.git@b45d665cdc6979dabdcde89be2b5a7b0a1995483
poppy
webbpsf
uncertainties
munch
astroquery
termcolor
astropy
