numpy>=1.25.2
pandas>=2.3.3
jwst>=2.0.0
astropy>=6.1
astroquery>=0.4.9
photutils>=2.1.0
ipywidgets>=8.1.1
matplotlib>=3.7.2
stsynphot>=1.2.0
space_phot @ git+https://github.com/jpierel14/space_phot@main
stsci.skypac >= 1.0.12
stpsf >= 2.2.0