<html>
  <head>
        {% include "header.html" %}
  </head>
  <body>
        {% for coll in collections %}
        <h2> {{ coll.name }} </h2>
            {% for cat in coll.categories %}
            <h3> {{ cat.name }} </h3>
                {% for notebook in cat.notebooks %}
                <p>
                    <a href="{{coll.name}}/{{cat.name}}/{{notebook.filename}}" target="_blank"> {{ notebook.title }} </a>
                </p>
                {% endfor %}
            {% endfor %}
        {% endfor %}
  </body>
</html>
