body {
    margin: 0px;
    font-family: 'Overpass', sans-serif;
    background-color: #F4F4F4;
}
h3, h2 {
    color: #00617E;
    font-size: 25px;
    margin-bottom: -4px;
    margin-top: 30px;
}
.header {
    background: linear-gradient(#0D4960,#00617E);
    font-family: 'Overpass', sans-serif;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.logo {
    padding-bottom: 30px;
    padding-top: 25px;
    width: 550px;
    margin-left: 0px;
}
.search {
    max-width: 800px;
    position: relative
}
.searchbox {
    border-color: white;
    border-style: solid;
    height: 45px;
    display: inline-block;
    width:calc(100% - 150px); 
    margin-bottom: 35px;
    display: none;
}
.searchbutton {
    background-color: #C75109;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    max-width: 150px;
    text-align: center;
    float: right;
    display: none;
}
.notebooks {
    padding-left: 30px;
}
a {
    color: #C75109 !important;
    font-size: 18px;
}
.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.#t01 tr:nth-child(even) {
  background-color: #eee;
}
.#t01 tr:nth-child(odd) {
  background-color: #fff;
}
.#t01 th {
  color: white;
  background-color: black;
}
.small_logo {
    padding-bottom: 10px;
    padding-top: 15px;
    width: 250px;
    margin-left: 0px;
    margin-left: 70px;
}
.small_logo:hover {
    cursor: pointer;
}
.button {
    background-color: #C75109;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    max-width: 300px;
    text-align: center;
    float: right;
    margin-top: 40px;
    margin-right: 70px;
}
.button:hover{
    cursor: pointer;
    background-color: #F2732C;
}
.explanation_section{
    background-color: #D8E6EA;
    padding-bottom: 20px;
}

div.cell {
    margin-top: 16px;
}
div.output_wrapper {
    margin-top: 10px;
    margin-left: 5%;
}
div.input {
    display: flex;
}
div.text_cell_render {
    margin-left: 5%;
}
div.text_cell_render h3 {
    margin-bottom: 4px !important;
}
div.input div.prompt {
    width: 5%;
    color: #999;
}
div.input div.inner_cell {
    width: 90%;
    border: solid 1px #b0b0b0;
    background-color: #e8e8e8;
}
div.input div.inner_cell * {
    background: transparent;
}
#About-this-notebook + p {
    padding-top: 8px; 
}
