table {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
}


div[class^='highlight'] pre {
    display: block;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
}
