name: Build HTML on merge
on:
  pull_request:
   branches:
   - main
   types: [closed]

  workflow_dispatch:

  

jobs:
  Generate_HTML:
    if: github.event.pull_request.merged == true
    uses: spacetelescope/notebook-ci-actions/.github/workflows/ci_builder.yml@v3
    with:
      python-version: ${{ vars.PYTHON_VERSION }}
    permissions:
     contents: write

