astropy==4.0.1
specutils==1.0
matplotlib==3.1.3
Bottleneck==1.3.2
ipyvue==1.3.4
ipyvuetify==1.4.1
git+https://github.com/glue-viz/glue.git@4f0c3a05a80ed855c79062c7c0ef8d3badb37dc3#egg=glue-core
git+https://github.com/glue-viz/glue-jupyter.git@3d3ade0a7d4e3d1797509df45858db3cb44f5109#egg=glue-jupyter
git+https://github.com/spacetelescope/jdaviz.git@541024ddd630a9931936b8c34504b46fcf64d92f#egg=jdaviz
