astropy==4.0.1
specutils==1.0
matplotlib==3.1.3
Bottleneck==1.3.2
ipyvue==1.3.4
ipyvuetify==1.4.1
git+https://github.com/glue-viz/glue.git@master#egg=glue-core
git+https://github.com/glue-viz/glue-jupyter.git@master#egg=glue-jupyter
git+https://github.com/spacetelescope/jdaviz.git@master#egg=jdaviz
